<ul>
{% for post in postsList %}
    <li>
        <strong><a href=" {{ post.url | url}} ">{{post.date.title}}</a></strong>
        -
        <time datetime = " {{post.date}} " >{{post.date}}</time>
        - 
        <span>{{post.data.description}}</span>
    </li>
{% endfor %}
</ul>